{
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "plugins": ["prettier", "@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": "warn",
    "arrow-body-style": ["warn", "as-needed"],
    "no-unused-vars": "off",
    "no-duplicate-imports": "warn",
    "@typescript-eslint/no-array-constructor": "error",
    "@typescript-eslint/no-namespace": "error",
    "@typescript-eslint/no-unused-vars": ["error", {"args": "none", "ignoreRestSiblings": true}],
    "no-console": "warn"
  }
}
