{
  "extends": [
    "eslint:recommended",
    "prettier",
    "prettier/flowtype",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "prettier",
    "flowtype"
  ],
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "rules": {
    "prettier/prettier": ["error", {
      "useTabs": false,
      "printWidth": 80,
      "tabWidth": 4,
      "singleQuote": true,
      "trailingComma": "es5",
      "jsxBracketSameLine": true,
      "parser": "flow"}],
    "no-unused-vars": 2,
    "flowtype/require-valid-file-annotation": [2, "always"]
  }
}
